<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="wangxing">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="format-detection" content="telephone=no">
    <title>app自适应</title>
    <script src="/js/lib/resize.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <header class="header">
        <button class="sprite btn-left"></button>
        <span>远程酒业</span>
        <button class="sprite btn-right"></button>
    </header>
    <nav class="nav">
        <a href="javascript:;">资讯</a>
        <a href="javascript:;">产品</a>
        <a href="javascript:;">实战</a>
        <a href="javascript:;">讨论</a>
    </nav>
    <section class="controller">
        <ul class="list">
            <li>
                <a href="#">
                    <img src="src" alt="图片">
                    <div class="list-right">
                        <h1>酒名字</h1>
                        <p>提升白酒等传统酒类生产机械化水平成为行业未来研究工作的重点，从而促进酿酒装备与技术的快速发展……</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="src" alt="图片">
                    <div class="list-right">
                        <h1>酒名字</h1>
                        <p>提升白酒等传统酒类生产机械化水平成为行业未来研究工作的重点，从而促进酿酒装备与技术的快速发展……</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="src" alt="图片">
                    <div class="list-right">
                        <h1>酒名字</h1>
                        <p>提升白酒等传统酒类生产机械化水平成为行业未来研究工作的重点，从而促进酿酒装备与技术的快速发展……</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="src" alt="图片">
                    <div class="list-right">
                        <h1>酒名字</h1>
                        <p>提升白酒等传统酒类生产机械化水平成为行业未来研究工作的重点，从而促进酿酒装备与技术的快速发展……</p>
                    </div>
                </a>
            </li>
        </ul>
    </section>
    <footer class="footer">
        <a href="#">
            <i class="sprite icon_book"></i>
            <span>资讯</span>
        </a>
        <a href="#">
            <i class="sprite icon_tag"></i>
            <span>产品</span>
        </a>
        <a href="#">
            <i class="sprite icon_person"></i>
            <span>实战</span>
        </a>
        <a href="#">
            <i class="sprite icon_more"></i>
            <span>讨论</span>
        </a>
    </footer>
</body>
</html>